<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>扶뒬못</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <h2>扶뒬못</h2>
    <%- include('./header.ejs') %>
    <ul>
        <li><%= userinfo.name %></li>
        <li><%= userinfo.age %></li>
        <li><%= userinfo.sex %></li>
    </ul>
    <%- include('./footer.ejs') %>
</body>

</html>